label{
    font-size: 12px;
    margin-top: 20px;
}
::placeholder{font-size: 12px;}
.btn-lg, .signature{ 
    margin-top: 20px;
    font-size: 12px;
}

.signature{
    float: right;
    border-top: 10px solid orangered;
    color: blue;
    font-weight: 600;
    border-bottom: 10px solid green;
    color: 
}